.paimon{
    width: 230px;
    height: 200px;
}
.bunny{
    width: 230px;
    height: 200px;
}
.mountain{
    width: 230px;
    height: 230px;
}
.car{
    width: 230px;
    height: 200px;
}
.car2{
    width: 230px;
    height: 200px;
}
.venti{
    width: 230px;
    height: 200px;
}